<!-- <p>home works!</p> -->
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-toolbar>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <!-- <a routerLink="" mat-list-item><span>Home</span></a>
      <a routerLink="./tecnologias" mat-list-item
        ><span>Mis Herramientas</span></a
      >
      <a routerLink="./personal" mat-list-item><span>Quien soy</span></a>
      <a routerLink="./contacto" mat-list-item><span>Contactame</span></a>
      <a routerLink="./entrañas" mat-list-item><span>Este sitio</span></a> -->
      <a
        routerLinkActive="active"
        *ngFor="let item of menuItems"
        [routerLink]="[item.ruta]"
        mat-list-item
        (click)="sidenav.toggle()"
        ><span>{{ item.nombre }}</span></a
      >
      <!-- se redujeron 4 lineas a 1, obviamente puedo borrarlas, pero comentarlas me ayuda en mi aprendizaje -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <mat-toolbar-row>
      <span>Edgar Cruz</span>
      <!-- Menu desktop -->
      <nav mat-tab-nav-bar class="navbar-desktop">
        <a
          mat-tab-link
          *ngFor="let item of menuItems"
          [routerLink]="[item.ruta]"
          routerLinkActive="linkActive"
          [routerLinkActiveOptions]="{ exact: true }"
          >{{ item.nombre }}</a
        >
      </nav>

      <!-- <span class="example-spacer"></span> -->
      <button
        mat-icon-button
        class="example-icon burguer-btn"
        aria-label="Example icon-button with menu icon"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>

<!-- VAS A IMPLEMENTAR EL MENU DE HAMBURGUESITA  -->
