<!-- <p>home works!</p> -->
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-toolbar>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a routerLink="" mat-list-item><span>Home</span></a>
      <a routerLink="./tecnologias" mat-list-item
        ><span>Mis Herramientas</span></a
      >
      <a routerLink="./personal" mat-list-item><span>Quien soy</span></a>
      <a routerLink="./contacto" mat-list-item><span>Contactame</span></a>
      <a routerLink="./entrañas" mat-list-item><span>Este sitio</span></a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <mat-toolbar-row>
      <span>Edgar Cruz</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>

<!-- VAS A IMPLEMENTAR EL MENU DE HAMBURGUESITA  -->
