.contenedor-presentacion {
    display: grid;

    height: 100%;
    grid-template-columns: 50% 50%;
    flex-direction: column;
    align-items: center;
  }

  .zIndex {
    z-index: 100;
  }
  .contenedor-img {
    display: flex;
    margin-top: 20px;
    justify-content: end;
  }
  .contenedor-titulos {
    display: flex;
    flex-direction: column;
  }
  .img {
    width: 60%;
  }

  .contenedor-presentacion h1 {
    color: #CA3E47;
  }
  .contenedor-presentacion h3 {
    font-family: 'Roboto';
    font-weight: 900;
  }