.example-spacer {
  flex: 1 1 auto;
}
.burguer-btn {
  visibility: hidden;
}
.mat-toolbar-row {
  justify-content: space-between;
}
.mat-tab-nav-bar {
  border-bottom: none;
}

.contenido__presentacion {
  margin: 0 5%;
  
  
}
a:hover {
  color: white;
}

@media screen and (max-width: 834px) {
  .burguer-btn {
    visibility: visible;
  }
  .navbar-desktop {
    display: none;
  }
}
