<!-- <p>home works!</p> -->
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <!-- Menu movil -->
    <mat-toolbar>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a
        routerLinkActive="active"
        *ngFor="let item of menuItems"
        [routerLink]="[item.ruta]"
        mat-list-item
        (click)="sidenav.toggle()"
        ><span>{{ item.nombre }}</span></a
      >
      <!-- se redujeron 4 lineas a 1, obviamente puedo borrarlas, pero comentarlas me ayuda en mi aprendizaje -->
    </mat-nav-list>
  </mat-sidenav>
  <!-- Menu -->
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Edgar Cruz</span>
      <!-- Menu desktop -->
      <nav mat-tab-nav-bar class="navbar-desktop">
        <a
          mat-tab-link
          *ngFor="let item of menuItems"
          [routerLink]="[item.ruta]"
          routerLinkActive="linkActive"
          [routerLinkActiveOptions]="{ exact: true }"
          >{{ item.nombre }}</a
        >
      </nav>

      <!-- <span class="example-spacer"></span> -->
      <button
        mat-icon-button
        class="example-icon burguer-btn"
        aria-label="Example icon-button with menu icon"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- aui -->

  <!-- Este footer no deberia de ir aqui -->
  <div class="contenido__presentacion">
    <router-outlet ></router-outlet>
  </div>

  <app-footer></app-footer>
</mat-sidenav-container>

<!-- VAS A IMPLEMENTAR EL MENU DE HAMBURGUESITA  -->
