@import "~@angular/material/theming";
@include mat-core();


$custom-background-color: map_get($mat-blue-grey, 50);


$my-primary-color: (
  200: #cc00ff,
  500: #e68f1e,
  700: #fff235,
  // ... continues to 900
  contrast:
    (
      50: rgba(black, 0.87),
      100: rgba(black, 0.87),
      200: rgba(black, 0.87),
      300: white,
      // ... continues to 900
    ),
);
$my-accent-color: (
  200: #2bff00,
  500: #d2e61e,
  700: #5a35ff,
  // ... continues to 900
  contrast:
    (
      50: rgba(black, 0.87),
      100: rgba(black, 0.87),
      200: rgba(black, 0.87),
      300: white,
      // ... continues to 900
    ),
);
$my-warn-color: (
  200: #00aeff,
  500: #e61e1e,
  700: #ff35bc,
  // ... continues to 900
  contrast:
    (
      50: rgba(black, 0.87),
      100: rgba(black, 0.87),
      200: rgba(black, 0.87),
      300: white,
      // ... continues to 900
    ),
);
$custom-background-color: #7fc962;

$my-palette-primary: mat-palette($my-primary-color);
$my-palette-accent: mat-palette($my-accent-color);
$my-palette-warn: mat-palette($my-warn-color);
// $my-palette-background:  mat-palette($custom-background-color);

$my-theme: mat-dark-theme(
  (
    color: (
      primary: $my-palette-primary,
      accent: $my-palette-accent,
      warn: $my-palette-warn,
      // background: $my-background,
      
    ),
   
  )
);


@include angular-material-theme($my-theme);
