<footer>
  <div class="footerGridContainer">
    <div class="footer__grid1">
      <h3>Edgar Cruz</h3>
      <h3>Desarrollador Fron-end</h3>
      <div class="iconos__container">
        <i class="bi bi-instagram"></i>
        <i class="bi bi-linkedin"></i>
        <a
          href="https://www.linkedin.com/in/edgar-ulises-cruz-alfaro-8728421ba/"
          target="_blank"
          ><i class="bi bi-github"></i
        ></a>
      </div>
    </div>
    <hr class="hr">
    <div class="footer__grid2">
      <div class="contacto"><i class="bi bi-envelope-plus"></i><label>Correo</label></div>
      <div class="contacto"><i class="bi bi-telephone"></i><label>LLamar</label></div>
      <div class="contacto"><i class="bi bi-whatsapp"></i><label>WhatsApp</label></div>
      
    </div>
    <hr class="hr">

    <div class="footer__grid3">
      <h3>Menu pendiente o "Derechos"</h3>
    </div>
  </div>
</footer>
